.img{
	z-index: -1;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center center;
	
}

body{
	
font-family: CenturyGothic;	
}

a{
	text-decoration: none;
	color:black;
	font-size: 24px;
}

a:hover{
	color:orange;
}
.content{
	float:left;
	padding-top: 150px;
	font-size: 14px;
	font-family: Century;
}

.logo{
	height:80px;
}

.navbar-nav{
padding-top: 20px;
}



footer{
padding-top:800px;
text-align: center;
font-size: 12px;